html {
    height: auto;
    width: 100vw;
}

body {
    font-family: sans;
    background-color: rgba(50,50,50,0.92);
    margin: 0px;
    height: 100%;
    width: 100%;
}

#bg {
    opacity: 0.6;
    margin: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url('assets/diff_circuit.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    z-index: 1;
    position: fixed;
}

#logo {
    height: 40px;
    width: 100%;
    background-image: url('assets/senseics_logo.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#menu-button {
    color: white;
    margin: 20px;
    font-size: 1.8em;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    overflow: hidden;
    position: fixed;
    top: 40px;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    height: 0em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
}

#view {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    scroll-snap-type: y mandatory;
    width: 100%;
}

.page {
    margin: 0px;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

#home {
    
}

#about {

}

#contact {
    flex-direction: column;
    justify-content: center;
}

.bio {
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    opacity: 0.8;
    margin: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bio-pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75px;
    width: 75px;
    border-radius: 75px;
}

.bio-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-wrapper {
    margin: 5px;
    display: flex;
    align-items: center;
}

.bio-info {
    padding: 10px;
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-hide {
    animation: contract 1s forwards;
}

.menu-show {
    animation: expand 1s forwards;
}

@keyframes expand {
    0% {
        height: 0em;
    }

    30% {
        height: 0em;
    }

    100% {
        height: 2em;
    }
}

@keyframes contract {
    0% {
        height: 2em;
    }

    30% {
        height: 2em;
    }
    
    100% {
        height: 0em;
    }
}
