html {
    height: auto;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans;
    background-color: rgba(100,100,100,0.6);
    margin: 0px;
    width: 100%;
}

#bg {
    opacity: 0.8;
    margin: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url('assets/diff_circuit.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#nav {
    background-color: rgba(160,160,160,0.9);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 8vh;
    z-index: 1;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
    background-image: url('assets/senseics_logo.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

h1 {
    width: 95%;
    color: #3317f9;
}

#menu-button {
    color: white;
    margin-right: 20px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    z-index: 2;
    background-color: rgba(160,160,160,0.9);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
    color: #3317f9;
    font-weight: bold;
    position: fixed;
    top: 8vh;
}

#menu a {
    color: #3317f9;
}

#view {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    width: 100%;
}

.page {
    display: flex;
    align-items: center;
    width: 100%;
}

#home {
    margin-top: 8vh;
    height: 92vh;
    flex-direction: column;
    justify-content: flex-end;
}

.home-wrapper {
    margin-bottom: 20px;
    border-radius: 5px;
    height: 80%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.home-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
}

.home-txt span {
    margin-bottom: 5px;
    font-size: 1.3em;
}

.home-pic {
    background-color: white;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    padding-top: 35%;
    width: 80%;
}

#about {
    margin-top: 20px;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-txt {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.about-txt section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
    margin: 20px;
    height: 100px;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
}

#footer {
    margin-top: 5px;
    position: relative;
    color: white;
    bottom: 0px;
    padding-top: 5px;
    display: flex;
    background-color: rgba(50,50,50,0.90);
    width: 100%;
    align-items: center;
}

.address {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.5em;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.address h5 {
    margin: 0px;
}

.address p {
    margin: 0px;
}

.contact-page-wrapper {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.bio {
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bio-pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    min-width: 100px;
    border-radius: 75px;
}

.bio-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-wrapper {
    margin: 5px;
    display: flex;
    align-items: center;
}

.bio-info {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#careers {
    min-height: 92vh;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

.job-post {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.job-post h3,p {
    margin: 5px;
}

.job-post p {
    max-width: 75%;
}

.job-post a {
    margin: 10px 15px;
}

.menu-hide {
    animation: contract 0.4s forwards;
}

.menu-show {
    animation: expand 0.4s forwards;
}

.fade-in {
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
}

}

@keyframes expand {
    0% {
        height: 0em;
    }

    30% {
        height: 0em;
    }

    100% {
        height: 2em;
    }
}

@keyframes contract {
    0% {
        height: 2em;
    }

    30% {
        height: 2em;
    }
    
    100% {
        height: 0em;
    }
}

@media screen and (min-width:800px) {
    .home-wrapper {
        flex-direction: row;
    }
    .home-txt {
        height: 90%;
        width: 45%;
    }
    .home-pic {
        margin: 20px;
        width: 40%;
    }
    .address a {
        display: none;
    }
    .bio {
        flex-direction: row;
    }
    .about-txt section {
        flex-direction: row;
    }
     .home-txt p {
        margin-top: 50px;
    }
}

@media screen and (min-width:1080px) {
    #menu {
        background-color: rgba(255,255,255,0);
        width: 50%;
        position: relative;
        top: 0vh;
    }
}
